@using Tenant.Site.Models

@model PropertyListSearchModel

<div class="container">
    <div id="search" class="margin-top-big margin-bottom-big">
        @Html.Kendo().TextBoxFor(m => m.Area)

        @Html.Kendo().TextBoxFor(m => m.PostCode)

        @*<div class="margin-bottom-small">
            <div class="col-md-3">
                @Html.LabelFor(m => m.Area)
            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(m => m.Area)
            </div>
        </div>
        <div class="margin-bottom-small">
            <div class="col-md-3">
                @Html.LabelFor(m => m.PostCode)
            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(m => m.PostCode)
            </div>
        </div>*@

        <button id="searchButton" class="btn btn-default btn-fyl">Search</button>
    </div>

    <script type="text/x-kendo-tmpl" id="Properties">
        <div class="Property">
            <img src="@Url.Content("#= ImagePath #")" alt="#:PostCode# image" />
            <h3>#:Beds# Beds, #:Postcode#</h3>
            @*@(Html.ActionLink("View Property", "View", "#= PropertyId #"))*@
            <a href="@(Url.Content(ConfigurationManager.AppSettings["SitePath"]+"Property/View/#= PropertyId #"))">View Property</a>
        </div>
    </script>

        @(Html.Kendo().ListView<PropertyListModel>()
            .Name("PropertyList")
            .TagName("div")
            .ClientTemplateId("Properties")
            .DataSource(data =>
            {
                data.Read(read => read.Action("List_GetProperties", "Property"));
                data.PageSize(21);
            })
            .Pageable()
        )
</div>

<script type="text/javascript">
    $("#searchButton").on('click', function (e) {
        e.preventDefault();

        $.ajax()
    })
</script>